@import "variable.less";

.main-nav {
  position: relative;
  width: 320px;
  min-height: 51px;
  margin: 0 auto;
}

.main-nav__wrapper {
  width: 100%;
  margin: 0;
}

.main-nav__list {
  background-color: @base-color;
}

.visually-hidden {
  display: none;
}

.main-nav__toggle {
  background: url("../img/icon-menu.svg") no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  border: none;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__list {
    background-color: transparent;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 760px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    width: 1085px;
  }
}
