.page-footer__visit {
  text-align: center;
}

.page-footer__visit-sedona {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 800;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.page-footer__social {
  display: flex;
  justify-content: center;
}

.social__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.social__item {
  vertical-align: middle;
}

.social__list li {
  display: inline-block;
  width: 48px;
  height: 48px;
  text-align: center;
  background-color: @base-color;
  justify-content: space-between;
  border: 2px solid white;
}

.ssocial__link {
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .page-footer__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
  }
}
