.page-footer__visit {
  text-align: center;
  margin-bottom: 35px;
}

.page-footer__visit-sedona {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 800;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  padding-right: 12px;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.social__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.social__item {
  vertical-align: middle;
}

.social__list li {
  display: inline-block;
  width: 51px;
  height: 51px;
  text-align: center;
  background-color: @base-color;
  border: 2px solid white;
}

.social__link {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .page-footer__wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    margin: 0;
    vertical-align: middle;
  }

  .page-footer__visit {
    margin-bottom: 4px;
  }

  .page-footer__visit-sedona {
    margin-top: 5px;
  }

  .social__item {
    padding: 0;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrap {
    padding: 0 157px;
    margin: 0;
  }
}
